@use 'variable' as v;
@use 'mixin' as m;
@use 'function' as f;

/* ===============================================
ドロワー
=============================================== */
.c-drawer__icon {
  @include m.mq("pc") {
    display: none;
  }

  position: absolute;
  content: "";
  display: inline-block;
  width: f.pxToRem(24);
  height: f.pxToRem(20);
  z-index: 10;
  transition: 0.5s ease-out;
  

  &.is-open {
    span {
      &:nth-of-type(1) {
        transform: translateY(0) rotate(-45deg);
        top: f.pxToRem(10);
        background: #333;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(0) rotate(45deg);
        top: f.pxToRem(10);
        background: #333;
      }
    }
  }
}

.c-drawer__bars {
  span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #333;
    width: f.pxToRem(24);

    &:nth-of-type(1) {
      top: f.pxToRem(1);
    }
    &:nth-of-type(2) {
      top: f.pxToRem(10);
    }
    &:nth-of-type(3) {
      top: f.pxToRem(20);
    }
  }
}

/* ===============================================
詳しく見るボタン
=============================================== */
.c-more__button--white {
  position: relative;
  margin-top: f.pxToRem(24);
  text-align: right;
  
  a {
    line-height: (16 / 14);
    transition: 0.3s ease-out;

      span {
        content: url(../img/arrow-w-icon.svg);
        vertical-align: middle;
        padding-left: f.pxToRem(6);
        padding-bottom: f.pxToRem(4);
      }

      &:hover {
        opacity: .6;
      }
    }

  }

.c-more__button--black {
  position: relative;
  margin-top: f.pxToRem(18);
  
  @include m.mq('sp'){
    margin-top: f.pxToRem(12);
  } 
  
  a {
    line-height: (16 / 14);
    transition: 0.3s ease-out;
      
      span {
        content: url(../img/arrow-b-icon.svg);
        vertical-align: middle;
        padding-left: f.pxToRem(6);
        padding-bottom: f.pxToRem(4);
      }

      &:hover {
        opacity: .6;
      }
    }

  }

  /* ===============================================
  一覧を見る
  =============================================== */
  .c-archive__button {
    display: block;
    border: 1px solid v.$color-primary;
    padding: f.pxToRem(16) 0;
    width: f.pxToRem(200);
    margin: 0 auto;
    transition: 0.5s ease-out;

    @include m.mq('sp'){
      width: f.pxToRem(150);
    } 

   &:hover {
    color: #fff;
    background: v.$color-primary;
   }
  }

  /* ===============================================
  お問い合わせボタン
  =============================================== */
.c-contact__button {
  border: 1px solid v.$color-primary;
  background: v.$color-primary;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: f.pxToRem(160);
  height: f.pxToRem(48);
  line-height: f.pxToRem(48);
  transition: .5s ease-out;

  &.--yellow {
   border: 1px solid v.$color-accent;
   background: v.$color-accent;
  }

  @include m.mq('sp'){
    width: f.pxToRem(152);
  } 

  &:hover {
    opacity: .6;
  }

}
